VITE_CLOUD_API=https://api-cn.ozon66.com
VITE_NEBULA_BASE_URL=https://nebula-cn.ozon66.com
VITE_NEBULA_CLIENT_ID=ozon_rust_suite_portal
VITE_NEBULA_SCOPE=openid profile email offline_access
VITE_ENABLE_NEBULA_OAUTH_ENTRY=1
VITE_ENABLE_DIRECT_SKYBRIDGE_AUTH=0
VITE_DIRECT_AUTH_VERIFICATION_MODE=none
VITE_SKYBRIDGE_SUPABASE_URL=
VITE_SKYBRIDGE_SUPABASE_ANON_KEY=
VITE_TURNSTILE_SITE_KEY=
VITE_TURNSTILE_SCRIPT_URL=
